__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
/fuckaround
/wandb
/src/splus.py
/checkpoints
image_index.pkl
/dataset
*.ipynb
requirements.txt
src/utils/
viz.ipynb
ssddataset/
*.wav
src/checkpoints*
src/wandb*
*test*
test_viz/
torch_compile_debug/
vaani_data/
